
/** Drupal admin tables **/

#content tr.even th,
#content tr.even td,
#content tr.odd th,
#content tr.odd td {
  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}

/* Minor fix for primary and secondary tabs in IE */

ul.primary li a:hover {
	cursor:pointer;
	color:#555;
	text-decoration:none;
}
ul.secondary li a:hover{
	cursor:pointer;
	color:#555;
	text-decoration:none;
}


#header .block-search #edit-search-block-form-1{
	height:17px;
	padding:4px 5px 0 !important;
}


#block-block-5 h3{
	width:778px;
	margin:0 !important;
}

.node-inner .box h3,
.node-inner .p50 h3{
	position:relative;top:-12px;left:-12px;
	margin:0 !important;
}
#block-block-5 .block-inner{
	position:relative;left:-12px;width:779px !important;
	padding-top:0px !important;padding-right:23px !important;
	margin:0 !important;
}

.no-sidebars .node-inner .box h3{ width:754px; }
.one-sidebar .node-inner .box h3,
.sidebar-left .node-inner .box h3{ width:578px; }
.node-inner .p50 h3{ width:263px !important;  }



.bottom{
	clear:both !important;
}

div.fivestar-widget a, .fivestar-summary{
	bottom:5px !important;
}
.fivestar-widget .fivestar-form-item label{margin-bottom:5px;}

#footer{
	position:relative;
}
#footer p{
	position:relative;top:0;
}

.page-downloads #programminfo .img-layer{background:url(/sites/default/files/teaser_programm.jpg) top left no-repeat !important;}
.page-downloads #mce .img-layer{background:url(/sites/default/files/teaser_wmc.jpg) top left no-repeat !important;}
.page-downloads #verify-u .img-layer{background:url(/sites/default/files/teaser_verifyu.jpg) top left no-repeat !important;}
.page-downloads .img-layer:hover{visibility:visible !important;}
.page-downloads .teaser .description{display:none !important;}
