
/** Layout
---------------------------------
*  Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
*  
*  1. Header
*  2. Content
*  3. Navigation menus
*  4. Sidebar Left
*  5. Sideabr Right
*	
*/

#page {
background-color: #e2e2e2;
margin: -90px auto 0;
width: 961px;
}

#ie6{display:none !important;}

/* Layout Helpers */

#header,
#main,
#footer,
#main #content .mission,
#main #content .breadcrumb,
#main #content .node {
clear: both;
}


/* Maintenance mode */
.offline #header{
	height:40px !important;
	background:none;
}
.offline #offline{
	display:block !important;height:200px;
	padding:50px 25px;
}



/** Sidebars width
---------------------------------
*  Changing the width of the sidebars is dead easy, just change the
*  values below corresponding to the sidebar you want to modify.
*  Make sure you keep negative values as negative values.
*  For example, if I want to increase the width of the left sidebar
*  to 300px, I would have to change each '190' to '300'.
*/

.one-sidebar .center,
.sidebar-left .center{
	margin-left: 190px;   /* Left Sidebar width */
}
.two-sidebars .center,
.sidebar-right .center{
	margin-left: 190px;    /* Left Sidebar width */
	margin-right: 205px;  /* Right Sidebar width */
}
.no-sidebars .center,
.front .center{
	margin-left: 0px;
}
.page-start .center{
	margin-left: 15px;
}

#sidebar-first {
width: 190px;           /* LEFT value */
padding-top: 25px;
}
#sidebar-second {
	float:right;
  width:190px;						/* RIGHT value */
}



/** Columns inner
---------------------------------
*  You can change the padding inside the columns without changing the
*  width of them by just using the INNER div of each column
*/

.inner {                             
	padding: 0px;                     
}                                   



/** LAYOUT RULES
---------------------------------
*  do not change if you're not sure you know what you're doing
*/

/* ------- HEADER ------- */

#header{
	background: url("images/header-s1f45a88d2f.png") no-repeat transparent;
	height: 200px;
	overflow: visible;
}
#header-inner{
position: relative;
margin: -2px auto 0;
height: 88px;
width: 802px;
}
#header-nav--meta{
position: absolute;
right: 0px;
top: 1px;
	font-size: 15px;
}
#header-nav--meta > ul {
background: url("images/header-s1f45a88d2f.png") no-repeat transparent;
background-position: -1598px -511px;
height: 30px;
padding: 0px 0px 0px 2px;
overflow: hidden;
}
#header-nav--meta li{
background: url("images/header-s1f45a88d2f.png") no-repeat transparent;
background-position: 100% -511px;
float: left;
height: 30px;
padding: 0px 2px 0px 0px;
list-style: none outside none;
}
#header-nav--meta a{
display: block;
position: relative;
top: 0px;
height: 30px;
padding: 5px 15px 5px 15px;
color: white;
text-decoration: none;
}
#header-nav--meta a:hover {
background: #898888;
background: -moz-linear-gradient(top, #898888 0%, rgba(73, 72, 72, 0.14) 64%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #898888), color-stop(64%, rgba(73, 72, 72, 0.14)));
background: -webkit-linear-gradient(top, #898888 0%, rgba(73, 72, 72, 0.14) 64%);
background: -o-linear-gradient(top, #898888 0%, rgba(73, 72, 72, 0.14) 64%);
background: -ms-linear-gradient(top, #898888 0%, rgba(73, 72, 72, 0.14) 64%);
background: linear-gradient(to bottom, #898888 0%, rgba(73, 72, 72, 0.14) 64%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF898888', endColorstr='#24494848', GradientType=0);
}
#header-nav--meta a:active {
background: #292828;
background: -moz-linear-gradient(top, #292828 0%, rgba(73, 72, 72, 0.14) 64%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292828), color-stop(64%, rgba(73, 72, 72, 0.14)));
background: -webkit-linear-gradient(top, #292828 0%, rgba(73, 72, 72, 0.14) 64%);
background: -o-linear-gradient(top, #292828 0%, rgba(73, 72, 72, 0.14) 64%);
background: -ms-linear-gradient(top, #292828 0%, rgba(73, 72, 72, 0.14) 64%);
background: linear-gradient(to bottom, #292828 0%, rgba(73, 72, 72, 0.14) 64%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF292828', endColorstr='#24494848', GradientType=0);
}
#header-nav--meta .arrow-right{
padding-right: 10px;
color: #14BEF7;
}
#header-nav--meta .arrow-right::after { 
margin-left: 7px;
margin-right: 0px;
content: "〉";
font-size: 12px;
vertical-align: -1px;
}

/* Logo */
#logo{
position:absolute;top:10px;left:10px;
width:193px;height:35px;
background:url(../logo.png) top left no-repeat;
cursor:pointer;
text-indent:-9999px;
color: transparent;
font-size: 0;
line-height: 0;
}
#web-presence-part{
position:absolute;
top:11px;
left:220px;
width:50px;
color: #14BEF7;
font-size: 24px;
}

/* Navigation in nav.css */

/* Suche */
#header .block-search{
	background-color: rgba(255, 255, 255, 0.102);
	border-bottom: 1px solid #6A737A;
	border-left: 1px solid #282B2E;
	border-right: 1px solid #282B2E;
	border-top: 1px solid #1E2123;
	box-shadow: rgba(16, 16, 16, 0.196) 0px 1px 3px inset;
	-webkit-box-shadow: rgba(16, 16, 16, 0.196) 0px 1px 3px inset;
	-moz-box-shadow: rgba(16, 16, 16, 0.196) 0px 1px 3px inset;
	display: block;
	height: 32px;
	position: absolute;
	right: 0px;
	bottom: 10px;
}
#header .block-search *{
	margin:0;padding:0;
	float:left;
}
#header .block-search label{ display:none; }
#header .block-search #edit-search-block-form-1{
background: transparent;
display: block;
float: left;
border: none;
box-shadow: rgba(16, 16, 16, 0.298) 0px 0px 3px;
-webkit-box-shadow: rgba(16, 16, 16, 0.298) 0px 0px 3px;
-moz-box-shadow: rgba(16, 16, 16, 0.298) 0px 0px 3px;
outline: none;
height: 30px;
width: 174px;
padding: 1px 0px 0px 10px;
font-size: 15px;
line-height: 29px;
color: #FFFFFF;
}
#header .block-search .form-submit{
	background: url("images/header-s1f45a88d2f.png") no-repeat transparent;
	background-color: transparent;
	background-position: 100% -257px;
	opacity: 0.6;
	border: none;
		position: relative;
	cursor: pointer;
	height: 30px;
	width: 30px;
	text-align: left;
	text-indent: -119988px;
	overflow: hidden;
}

/* obsulate */
#navigation {
  float: left;
  margin-left: 0;
  margin-right: -100%;
  padding: 0;
  width: 100%;
}


/* ------- MAIN ------- */

#main{
margin: 0 auto;
width: 802px;
padding: 0;
}
#content {
	float: left;
	width: 100%;
	margin-right: -100%;
	padding: 0;
}
#content-inner{
padding: 20px;
}
.front #content-inner{
padding:0px;
}
#title-wrapper {
margin-bottom: 40px;
}

/* path --------------------------- */

.breadcrumb{
	white-space:nowrap;width:99%;overflow:hidden;
	font:normal 10px Arial,sans-serif;color:#7f7f7f;
	padding: 7px 7px 0;
}
.breadcrumb a{
	color:#7f7f7f !important;
	background:url(images/arrow_breadcrumb.png) right center no-repeat;
	padding-right:12px;
	margin-right:6px;
}

/* sidebars --------------------------- */

/* Sub-Navigation in nav.css */

.sidebar {                          
	float: left;
}                                   
#sidebar-second {
  float: right;
}
.sidebar-right #main,
.two-sidebars #main{
	width:1001px;
}

/* */

.node-inner .content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.node-inner .content { display: block; }







/* ------- FOOTER ------- */

#footer {
overflow: hidden;
clear: both;
}
#footer #block-block-6 {
margin: 20px auto;
position: relative;
width: 802px;
padding: 20px 0;
font-size: 11px;
/* Border */
box-shadow: #D2D2D2 0 -1px 0 0;
-webkit-box-shadow: #D2D2D2 0 -1px 0 0;
-moz-box-shadow: #D2D2D2 0 -1px 0 0;
border-top: 1px solid white;
}


/* Content specific styles ---------------------------------------------------- */

/* Homepage */
.front #content-header{
display: none; /* hide "Home" title */
}

.front #content .block-inner{
	position:relative;
	padding:12px 0 5px ;
	margin:0 -12px;
}
.front #content .block-inner p,
.front #content .block-inner span{
	display:block;
	padding-left:12px;padding-right:12px;
}
.front .bottom{
	position:absolute;bottom:15px;
}



/* Buehne / Stage ------------------------------------ */
#stage{
	position:relative;display:block;
	width:802px;
	margin-top: 30px;
}
#stage .sections{
	max-height:270px;height:270px;
	padding: 12px 12px 24px 12px;
}
#stage .right{
	
}
#stage .right .button{
	margin-left:24px;
}

/*#stage #section-1{background:url(/sites/default/files/bg_stage1.png) right top no-repeat transparent;background-position: 100% -23px;}
#stage #section-2{background:url(/sites/default/files/bg_stage_2.png) right top no-repeat transparent;}
#stage #section-4{background:url(/sites/default/files/bg_stage4.png) right top no-repeat transparent;background-position: 100% -23px;}*/


#stage h2{
	font-size:28px;
}

#stage .p45{
margin: 0;
}
#stage .p50{
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
background: none;
outline: none;
margin: 0;
}
#stage .p50 p { 
border: none;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
margin: 15px 0;
padding: 0;
}
#stage .p55{
margin: -45px 0 0 0;
position: absolute;
right: 0px;
}
#stage .p55 ol{
background: none;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
outline: none;
border: none;
margin: 0;
padding: 0;
}
#stage .p55 ol li{
font-size: 13px;
}
#stage .p55 p{
margin: 23px 0;
}


#stage #tab_anchors{
	width:100%;height:60px;overflow:visible;
	list-style:none;
	padding:0 1px;
}
#stage #tab_anchors li{
/* Box-Border */
box-shadow: inset #D2D2D2 0 0 2px 2px;
-webkit-box-shadow: inset #D2D2D2 0 0 2px 2px;
-moz-box-shadow: inset #D2D2D2 0 0 2px 2px;
background: #EEE;
outline: solid 1px #EDEDED;
	float:left;display:block;
	width:194px;
	padding:0;
	margin: 0px 3px;
}
#stage #tab_anchors li.active{
	background:url(images/bg_stage_tabs_active.png) no-repeat;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
outline: none;
	margin-top: -18px;
	padding-top: 18px;
    color: #F2F2F2;
}
#stage #tab_anchors li a{
	display:block;
	font:normal 14px/58px "HelveticaNeue-BoldExt",Sans-serif;text-align:center;text-decoration:none;
}
#stage #tab_anchors li.active a{
    color: #F2F2F2;
}





/* alte bloecke homepage */
#block-block-1{
	height:140px;
	background:url(images/bg_main_teaser.jpg) top right no-repeat #000;
	padding:25px 305px 0 45px;
	margin-bottom:15px;
}
#block-block-1 h2{
	font-size:12px;color:#fff;
	background:none;border-bottom:none !important;
	padding:0;
	margin-left:-15px;margin-bottom:20px;
}
#block-block-1 .block-inner{
	background:none !important;
	padding-left:0 !important;
}

#block-block-5{
	font-size:1.2em;line-height:1.3em;
}
#block-block-5 h3{
	margin-left:0;margin-right:0;
}
#block-block-5 h3,
#block-views-status-block_1 h3{
	/*border-bottom:1px solid #f5f49f;*/
}
#block-views-status-block_1 .views-field-title{
  margin: 1em 0;
}

#block-block-2{
	width:48.75%;
	float:left;
}
#block-block-3{
	width:48.75%;
	float:left;
}
#block-block-2 .block-inner,
#block-block-3 .block-inner{
	height:135px;
}

#block-block-4 ,
#block-views-recent_questions-block_1{
	width:48.75%;
	float:right;
	margin-left:15px;
}
#block-block-4 .block-inner,
#block-views-recent_questions-block_1 .block-inner{
	height:315px;
}
#block-block-4 ol span,
#block-views-recent_questions-block_1 ol span{
	padding:0 !important;
}



/* theme nightclub.de ---------------------------------------- 
.node-type-forkpage-nc #main, .node-type-answer-nc #main{
	color:silver;
}
.node-type-forkpage-nc h2, .node-type-answer-nc h2,
.node-type-forkpage-nc h3, .node-type-answer-nc h3{
	color:#fff;
	background:url(images/bg_headline_red.png) top left repeat-x #000 !important;
}
.node-type-forkpage-nc .box, .node-type-answer-nc .box,
.node-type-forkpage-nc .node-type-answer .node-inner, .node-type-answer-nc .node-inner{
	background-color:#1f040b !important;
}
.node-type-forkpage-nc .pagelink, .node-type-answer-nc .pagelink,
.node-type-forkpage-nc .videolink, .node-type-answer-nc .videolink{
	color:#cf9243 !important;
	background:url(images/pfeil_small_orange.png) 0 center no-repeat;
}
.node-type-answer-nc div.fivestar-widget-static .star,
.node-type-answer-nc div.fivestar-widget-static .star span.on,
.node-type-answer-nc div.fivestar-widget-static .star span.off,
.node-type-answer-nc div.fivestar-widget .star{
  background-image:url(/sites/default/modules/fivestar/widgets/maxdome/nightclub_star.png) !important;
}

*/


/* teaser downloads */
.page-downloads .img-layer{
	height: 166px;
}
.page-downloads .img-layer:hover img{
	display:none;
}
.page-downloads .img-layer:hover p{
	display:block;
	padding: 13px 17px;
	color: #5a5a5a;
}
.page-downloads .img-layer p{
	margin: 0;
	display:none;
}
.page-downloads .img-layer img{
	padding-top: 3px;
	margin: 0;
}
.page-downloads #anleitungen img{
float: left;
margin: 12px;
}
.page-downloads #pdf, .page-downloads #LG{
max-width: 386px;
}


.panels{
	width:100%;
	margin-bottom:12px;
clear: left;
position: relative;
}
.panels div{
	float:left;
}
.panels div:first-child,
.panels div.left{
	margin-left:0;
}
.panels div.right{
	margin-right:0;
}
.p33{
width: 49%;
}
.p45{
	width:42.5%;
padding: 15px;
}
.p50{
width: 48%;
}
.p50, .p33{
/* Box-Border */
box-shadow: inset #D2D2D2 0 0 2px 2px;
-webkit-box-shadow: inset #D2D2D2 0 0 2px 2px;
-moz-box-shadow: inset #D2D2D2 0 0 2px 2px;
background: #EEE;
outline: solid 1px #EDEDED;
	margin: 0 7px 40px;
	padding: 15px;
}
.p50 h3, .p33 h3{
font-size:15px;
font-weight: 600;
padding-bottom: 10px;
/* Border */
box-shadow: #FFF 0 1px 0 0;
-webkit-box-shadow: #FFF 0 1px 0 0;
-moz-box-shadow: #FFF 0 1px 0 0;
border-bottom:1px solid #D2D2D2;
}
.p50 ul, .p33 ul{
min-height: 150px;
padding-left: 15px;
margin: 0;
}
.p50 ul li, .p33 ul li{
margin: 15px 0;
list-style-type: disc;
}
.p50 ul li:hover, .p33 ul li:hover{
color: #0099CD;
}
.p50 p, .p33 .link{
	margin: 0px;
	padding-top: 10px;
/* Border */
box-shadow: #D2D2D2 0 -1px 0 0;
-webkit-box-shadow: #D2D2D2 0 -1px 0 0;
-moz-box-shadow: #D2D2D2 0 -1px 0 0;
border-top:1px solid #FFF;
}
.p50 p a.bottom.button{
	position: relative;
	bottom: 0;
}
.p50 .box, .p33 .box, .p33 .link{
	margin-bottom: 0;
	width: 100%;
}
.p55{
	width:55.75%;
}
.p66{
	width:64%;
}

.box{
	margin-bottom: 34px;
}

.box.linked:hover{
	/*background-color:#353535;*/
}
.box.mother .bottom{
	position:absolute;bottom:15px;
}
.box.medium{
	min-height:175px;
}

.box.nobg{
	background:none !important;
	margin-top:-12px;
}

.mother{
	position:relative;
}
.mother .bottom{
	position:absolute;bottom:0px;
	margin:0;
}
.manual{
	min-height:135px;
	border-bottom:1px solid #000;
	padding-right:12px;
	margin:-12px -12px 12px;
}


.medium_thumb{
	min-height:137px;
}
.medium_margin{
	margin-left:168px;
}
.small_margin{
	margin-left:70px;
}
.padding-top40{
padding-top: 40px;
}
.margin-vertical30{
margin: 30px 0;
}
.font15{
font-size: 15px;
}
.border{
/* Border */
box-shadow: #D2D2D2 0 -1px 0 0;
-webkit-box-shadow: #D2D2D2 0 -1px 0 0;
-moz-box-shadow: #D2D2D2 0 -1px 0 0;
border-top:1px solid #FFF;
}
.extra_big{
font-size:38px;
}
.legal{
padding-top: 25px;
font-size:13px;
/* Border */
box-shadow: #D2D2D2 0 -1px 0 0;
-webkit-box-shadow: #D2D2D2 0 -1px 0 0;
-moz-box-shadow: #D2D2D2 0 -1px 0 0;
border-top:1px solid #FFF;
}


/* --- BUTTONS ---*/
.button{
font-size:15px;
font-weight:bold;
color: #0099CD;
}
.button::after { 
margin-left: 7px;
margin-right: 0px;
content: "〉";
}
a.button{
color: #0099CD;
}
.button.grey{
	background-color:#424242;
	border-top:1px solid #686868;border-bottom:1px solid #313131;
}
.button.grey:hover, .button.grey:active{
	background-color:#009bf5;
	border-top:1px solid #34aff5;border-bottom:1px solid #0074b7;
}








ol{
/* Box-Border */
box-shadow: inset #D2D2D2 0 0 2px 2px;
-webkit-box-shadow: inset #D2D2D2 0 0 2px 2px;
-moz-box-shadow: inset #D2D2D2 0 0 2px 2px;
background: #EEE;
outline: solid 1px #EDEDED;
	margin-top: 14px;
	margin-left: -7px;
	padding: 5px 25px 5px 10px;
}
ol li,
dl.ordered dt{
	clear:right;
	list-style:none;
	background-repeat:no-repeat;
	background-position:2px 2px;
	margin: 15px 0;
	padding-left: 27px;
	font-size: 15px;
}
dl.ordered dd{
	position:relative;
/* Border */
box-shadow: #D2D2D2 0 1px 0 0;
-webkit-box-shadow: #D2D2D2 0 1px 0 0;
-moz-box-shadow: #D2D2D2 0 1px 0 0;
border-bottom:1px solid #FFF;
	padding: 0 15px 15px 0;
	margin: 5px 0 30px 0;
}
dl.ordered dd ol li{
	list-style-type:decimal;
	padding-left:0;
	margin-left:35px;
}
dl.ordered dd a.pagelink{
	display:block;
	margin-bottom:0;
}
dl.ordered dd h2,
dl.ordered dd h3,
table h2,
table h3{
	width:auto;
	background:none !important;
	border:none !important;
}
table h2,
table h3{
	padding:0;
}


.metalinks{
	display:block;
	text-align:right;
}
.metalinks a{
	margin-left:25px;
}

ol li a{
	cursor:pointer;
}
ol li a:before, ol li:before, dl dt:before{
margin-left: -24px;
margin-right: 7px;
font-weight: bold;
}
ol li.item1 a:before,  ol li.views-row-1:before,  dl dt.item1:before	{content: "1 \00a0";}
ol li.item2 a:before,  ol li.views-row-2:before,  dl dt.item2:before	{content: "2 \00a0";}
ol li.item3 a:before,  ol li.views-row-3:before,  dl dt.item3:before	{content: "3 \00a0";}
ol li.item4 a:before,  ol li.views-row-4:before,  dl dt.item4:before	{content: "4 \00a0";}
ol li.item5 a:before,  ol li.views-row-5:before,  dl dt.item5:before	{content: "5 \00a0";}
ol li.item6 a:before,  ol li.views-row-6:before,  dl dt.item6:before	{content: "6 \00a0";}
ol li.item7 a:before,  ol li.views-row-7:before,  dl dt.item7:before	{content: "7 \00a0";}
ol li.item8 a:before,  ol li.views-row-8:before,  dl dt.item8:before	{content: "8 \00a0";}
ol li.item9 a:before,  ol li.views-row-9:before,  dl dt.item9:before	{content: "9 \00a0";}
ol li.item10 a:before, ol li.views-row-10:before, dl dt.item10:before	{content: "10";}
ol li.item11 a:before, ol li.views-row-11:before, dl dt.item11:before	{content: "11";}
ol li.item12 a:before, ol li.views-row-12:before, dl dt.item12:before	{content: "12";}
ol li.item13 a:before, ol li.views-row-13:before, dl dt.item13:before	{content: "13";}
ol li.item14 a:before, ol li.views-row-14:before, dl dt.item14:before	{content: "14";}
ol li.item15 a:before, ol li.views-row-15:before, dl dt.item15:before	{content: "15";}
ol li.item16 a:before, ol li.views-row-16:before, dl dt.item16:before	{content: "16";}
ol li.item17 a:before, ol li.views-row-17:before, dl dt.item17:before	{content: "17";}
ol li.item18 a:before, ol li.views-row-18:before, dl dt.item18:before	{content: "18";}
ol li.item19 a:before, ol li.views-row-19:before, dl dt.item19:before	{content: "19";}
ol li.item20 a:before, ol li.views-row-20:before, dl dt.item20:before	{content: "20";}
ol li.item21 a:before, ol li.views-row-21:before, dl dt.item21:before	{content: "21";}
ol li.item22 a:before, ol li.views-row-22:before, dl dt.item22:before	{content: "22";}
ol li.item23 a:before, ol li.views-row-23:before, dl dt.item23:before	{content: "23";}
ol li.item24 a:before, ol li.views-row-24:before, dl dt.item24:before	{content: "24";}
ol li.item25 a:before, ol li.views-row-25:before, dl dt.item25:before	{content: "25";}
ol li.item26 a:before, ol li.views-row-26:before, dl dt.item26:before	{content: "26";}
ol li.item27 a:before, ol li.views-row-27:before, dl dt.item27:before	{content: "27";}
ol li.item28 a:before, ol li.views-row-28:before, dl dt.item28:before	{content: "28";}
ol li.item29 a:before, ol li.views-row-29:before, dl dt.item29:before	{content: "29";}
ol li.item30 a:before, ol li.views-row-30:before, dl dt.item30:before	{content: "30";}
ol li.item31 a:before, ol li.views-row-31:before, dl dt.item31:before	{content: "31";}
ol li.item32 a:before, ol li.views-row-32:before, dl dt.item32:before	{content: "32";}
ol li.item33 a:before, ol li.views-row-33:before, dl dt.item33:before	{content: "33";}
ol li.item34 a:before, ol li.views-row-34:before, dl dt.item34:before	{content: "34";}
ol li.item35 a:before, ol li.views-row-35:before, dl dt.item35:before	{content: "35";}
ol li.item36 a:before, ol li.views-row-36:before, dl dt.item36:before	{content: "36";}
ol li.item37 a:before, ol li.views-row-37:before, dl dt.item37:before	{content: "37";}
ol li.item38 a:before, ol li.views-row-38:before, dl dt.item38:before	{content: "38";}
ol li.item39 a:before, ol li.views-row-39:before, dl dt.item39:before	{content: "39";}
ol li.item40 a:before, ol li.views-row-40:before, dl dt.item40:before	{content: "40";}

/*
.node-type-forkpage-nc ol li.item1,  .node-type-forkpage-nc ol li.views-row-1,  .node-type-forkpage-nc dl dt.item1{  background-image:url(images/icon_numbers_nc_01.gif);}
.node-type-forkpage-nc ol li.item2,  .node-type-forkpage-nc ol li.views-row-2,  .node-type-forkpage-nc dl dt.item2{  background-image:url(images/icon_numbers_nc_02.gif);}
.node-type-forkpage-nc ol li.item3,  .node-type-forkpage-nc ol li.views-row-3,  .node-type-forkpage-nc dl dt.item3{  background-image:url(images/icon_numbers_nc_03.gif);}
.node-type-forkpage-nc ol li.item4,  .node-type-forkpage-nc ol li.views-row-4,  .node-type-forkpage-nc dl dt.item4{  background-image:url(images/icon_numbers_nc_04.gif);}
.node-type-forkpage-nc ol li.item5,  .node-type-forkpage-nc ol li.views-row-5,  .node-type-forkpage-nc dl dt.item5{  background-image:url(images/icon_numbers_nc_05.gif);}
.node-type-forkpage-nc ol li.item6,  .node-type-forkpage-nc ol li.views-row-6,  .node-type-forkpage-nc dl dt.item6{  background-image:url(images/icon_numbers_nc_06.gif);}
.node-type-forkpage-nc ol li.item7,  .node-type-forkpage-nc ol li.views-row-7,  .node-type-forkpage-nc dl dt.item7{  background-image:url(images/icon_numbers_nc_07.gif);}
.node-type-forkpage-nc ol li.item8,  .node-type-forkpage-nc ol li.views-row-8,  .node-type-forkpage-nc dl dt.item8{  background-image:url(images/icon_numbers_nc_08.gif);}
.node-type-forkpage-nc ol li.item9,  .node-type-forkpage-nc ol li.views-row-9,  .node-type-forkpage-nc dl dt.item9{  background-image:url(images/icon_numbers_nc_09.gif);}
.node-type-forkpage-nc ol li.item10, .node-type-forkpage-nc ol li.views-row-10, .node-type-forkpage-nc dl dt.item10{ background-image:url(images/icon_numbers_nc_10.gif);}
.node-type-forkpage-nc ol li.item11, .node-type-forkpage-nc ol li.views-row-11, .node-type-forkpage-nc dl dt.item11{ background-image:url(images/icon_numbers_nc_11.gif);}
.node-type-forkpage-nc ol li.item12, .node-type-forkpage-nc ol li.views-row-12, .node-type-forkpage-nc dl dt.item12{ background-image:url(images/icon_numbers_nc_12.gif);}
.node-type-forkpage-nc ol li.item13, .node-type-forkpage-nc ol li.views-row-13, .node-type-forkpage-nc dl dt.item13{ background-image:url(images/icon_numbers_nc_13.gif);}
.node-type-forkpage-nc ol li.item14, .node-type-forkpage-nc ol li.views-row-14, .node-type-forkpage-nc dl dt.item14{ background-image:url(images/icon_numbers_nc_14.gif);}
.node-type-forkpage-nc ol li.item15, .node-type-forkpage-nc ol li.views-row-15, .node-type-forkpage-nc dl dt.item15{ background-image:url(images/icon_numbers_nc_15.gif);}
.node-type-forkpage-nc ol li.item16, .node-type-forkpage-nc ol li.views-row-16, .node-type-forkpage-nc dl dt.item16{ background-image:url(images/icon_numbers_nc_16.gif);}
.node-type-forkpage-nc ol li.item17, .node-type-forkpage-nc ol li.views-row-17, .node-type-forkpage-nc dl dt.item17{ background-image:url(images/icon_numbers_nc_17.gif);}
.node-type-forkpage-nc ol li.item18, .node-type-forkpage-nc ol li.views-row-18, .node-type-forkpage-nc dl dt.item18{ background-image:url(images/icon_numbers_nc_18.gif);}
.node-type-forkpage-nc ol li.item19, .node-type-forkpage-nc ol li.views-row-19, .node-type-forkpage-nc dl dt.item19{ background-image:url(images/icon_numbers_nc_19.gif);}
.node-type-forkpage-nc ol li.item20, .node-type-forkpage-nc ol li.views-row-20, .node-type-forkpage-nc dl dt.item20{ background-image:url(images/icon_numbers_nc_20.gif);}
*/


/* search */
.search-form { 
	margin-bottom: 24px;;
}
.search-form .form-item{
	margin-bottom: 15px;
}
#search-form .form-item label{
	height:15px;
	padding:0 0 10px;
}
#search-form .form-item div{
	padding-left:0;
}
dl.search-results{
	margin-top: 7px;
}
.search-results dt{
	background:url(images/pfeil_small_grau.png) left center no-repeat;
	margin-left: 7px;
}
.search-results dt a{
	color:#999 !important;
	margin-left:12px;
}
.search-results dd{
	margin: 0px 14px;
}
.search-results .search-info{
	display:none;
}

/* pager */
ul.pager{
	/*
	position:relative;
	width:100%;height:32px;
	background:url(images/bg_pager.gif) top left repeat-x;
	padding:8px 12px 0;
	margin:20px -12px 35px;
	*/
	position:relative;
	width:100%;height:23px;
	font-size:12px;line-height:21px;font-weight:bold;
	background-color:#DDDDDD;
	border:1px solid #777777;
	padding:0px 12px 0;
	margin:20px -12px 35px;
}

ul.pager li{
	padding:0px !important;
	margin:0 !important;
}
ul.pager li a{
	color: #5A5A5A;
}
ul.pager li.pager-item a{
	padding:3px !important;
}
ul.pager li.pager-item a:hover{
	text-decoration:none;
	background-color:#00a2ff;
}
ul.pager li.pager-current{
	background-color:#EEEEEE;
	padding:3px !important;
}

li.pager-first,
li.pager-previous,
li.pager-next,
li.pager-last{
	position:absolute;top:-1px;height:23px;display:block !important;

}
li.pager-first a,
li.pager-previous a,
li.pager-next a,
li.pager-last a{
	display:block;overflow:hidden;height:23px;
	/*height:0px !important;
	padding-top:32px;*/
}

li.pager-first{left:0;}
li.pager-first a{
	height:0px !important;width:25px;
	background:url(images/pfeil_paging_first.png) center no-repeat;
	border-right:1px solid #777777;
	padding-top:23px;
}
li.pager-previous{left:34px;}
li.pager-previous a{
	width:60px;
	background:url(images/pfeil_small_grau_links.png) left center no-repeat;
	border-right:1px solid #777777;
}
li.pager-next{right:34px;}
li.pager-next a{
	width:60px;
	background:url(images/pfeil_small_grau.png) right center no-repeat;
	border-left:1px solid #777777;
}
li.pager-last{right:0;}
li.pager-last a{
	height:0px !important;width:25px;
	background:url(images/pfeil_paging_last.png) center no-repeat;
	border-left:1px solid #777777;
	padding-top:23px;
}

thead th { 
border-bottom: 2px solid #CCCCCC;
}








/* Module Styles -------------------------------------------------------------------------- */

/* Admin menu */
#admin-menu {
	position:fixed !important;top:0 !important;		/* make admin-menu module stay in viewport */
}
body.admin-menu{
	/* margin-top:0px !important;		 dont push content*/
}

.sticky-enabled th,
.sticky-header th{
	padding:5px;
}
.sticky-header{
	top:20px !important;
	background-color:#777 !important;
	color: #CCC;
}

/* Fivestar voting -------------------------------------------------------------------------- */
form.fivestar-widget{
margin: 40px 0 10px;
}
.fivestar-widget br{display:none !important ;}
.fivestar-widget p{margin:0 !important ;padding:0 !important ;}
div.fivestar-widget{float:left;} 
.fivestar-widget .fivestar-form-item label{display:block;font-weight:normal !important;margin-bottom:0px;}



.node-inner .links{margin:10px 0 15px;}
.node-inner .links li{padding:0;}


/* Shadowbox -------------- */
#sb-wrapper-inner{border:1px solid #b4b4b4 !important;}
#sb-info{position:absolute !important; width:100%; top:26px; height:18px !important; } 
#sb-nav{
	position:absolute;top:0;right:0;z-index:999;
	height:18px;width:18px;
}
#sb-nav a{
	height:18px;width:18px;
}
#sb-nav-close{
	position:absolute !important; top:0px !important; right:0px !important; width:18px !important; height:18px !important; 
	background-image:url(images/icon_close.gif) !important;
}



/* Admin Area Styles -------------------------------------------------------------------------- */

/* Admin-Area fieldsets */
fieldset{
background-image: linear-gradient(top, #DDDDDD 0%, #EEEEEE 72%, #FFFFFF 100%);
background-image: -o-linear-gradient(top, #DDDDDD 0%, #EEEEEE 72%, #FFFFFF 100%);
background-image: -moz-linear-gradient(top, #DDDDDD 0%, #EEEEEE 72%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(top, #DDDDDD 0%, #EEEEEE 72%, #FFFFFF 100%);
background-image: -ms-linear-gradient(top, #DDDDDD 0%, #EEEEEE 72%, #FFFFFF 100%);

background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #DDDDDD),
	color-stop(0.72, #EEEEEE),
	color-stop(1, #FFFFFF)
);
padding: 7px 0px 14px;
margin: 0 15px 15px 0;
	border:1px solid #777;
}
fieldset legend{
	/*
	width:575px !important;height:19px !important;display: block !important;
  font-size:11px;line-height:19px;font-weight:bold;text-transform:uppercase;color:#bdbdbd;
	background:none !important;background-color:#151516 !important;
	padding:6px 15px 4px;
	
	*/

	display:block;width:100% !important;
	/*height:19px;*/
	font-size:12px;line-height:22px;font-weight:bold;
	background-color:#DDD;
outline: 1px solid #777777;
}

fieldset.collapsed,
fieldset.collapsible{
	margin-bottom:15px !important;
}
fieldset.collapsed{
	margin-left: 1px;
}
fieldset.collapsible legend a{
	background:url(images/pfeil_small_grau_down.png) 2px center no-repeat !important;
}
fieldset.collapsed legend a{
	background:url(images/pfeil_small_grau.png) 2px center no-repeat !important;
	padding:0 12px 15px;
}
fieldset.collapsed legend a,
fieldset.collapsible legend a{
	font-size:12px;line-height:22px;font-weight:bold;
	padding:0px 10px;

}
fieldset fieldset legend a{
	width:100% !important;
}
fieldset div {
padding: 0 5px;
}
div.resizable-textarea {
width: 100%;
padding: 0 15px 0 0;
}


input.form-text,
select,
textarea{
	font-size:11px;
	color:#999;
	border: 1px solid #DDD;
	padding:5px 5px;
}
select,
textarea{
	background:#fafafa;
	padding:14px;
}
select{
	/*height:2.5em;*/
	padding:0 0 0 5px !important;
}
.logged-in label{
	padding-bottom:5px;
}
.logged-in .node-form .form-text{
	width:98%;
}


.logged-in table.views-entry,
.logged-in .views-tabset,
.logged-in .views-display,
.logged-in #views-ajax-pad form{
	background-color:#444;
	border:none;
}
.logged-in .views-category-content{
	background-color:#555;
}
.logged-in table.views-entry td{
	padding:5px;
}
.logged-in table.views-entry td.view-name,
.logged-in table.views-entry td.view-ops,
.logged-in .views-category-title{
	background-color:#151516 !important;
}
.logged-in table.view-disabled td.view-name,
.logged-in table.view-disabled td.view-ops{
	background-color:#252526;
}

.logged-in .views-tabset{
	color:#bdbdbd;
}



.logged-in .views-category{
	border:none !important;
}

.logged-in div.changed,
.logged-in .hilited,{
	color:#f5f59f !important;
	background-color:#555 !important;
}
.logged-in .selected td{
	background-color:#999 !important;
}


div.admin-dependencies,
div.admin-required{
	color:#999 !important ;
}

input[type=submit]{
	padding:3px 5px;
}


/* menus -------------------------- */
.menu-disabled{
	color:#999;
	background-color:#FC9630 !important;
}

/* colors status update */
.update{
	margin-top:0px !important;
}
.update tr{
	border-bottom:1px solid #000;
}

.update tr td{
	border-top:none !important ;
	border-bottom:none !important ;
}
div.ok, tr.ok{
	background-color:#DDD !important ;
	border-left: 4px solid #00e963;
}
/* div.warning, */
tr.warning{
	background-color:#DDD !important ;
	border-left: 4px solid #e9aa00;
}
/*div.error, */
tr.error{
	background-color:#DDD !important ;
	border-left: 4px solid #f00;
}