/* ------- Main-Nav ------- */

#block-menu_block-4{
	/*padding:5px 0 0 17px;*/
	background: url("images/header-sf7c2ba0d5d.png") no-repeat transparent;
	background-position: -26px -50px;
	bottom: 0px;
	position: absolute;
	margin: 0 0 4px 0;
	height: 37px;
	width: auto;
}
#block-menu_block-4 *{
	display: inline;
	padding: 0;
	margin: 0 !important;
}
#block-menu_block-4 li{
	background: url("images/header-sf7c2ba0d5d.png") no-repeat transparent;
	background-position: 100% -50px;
	float: left;
	position: relative;
}
#block-menu_block-4 li a{
	display: block;
	margin: 0 1px 0 0;
	height: 37px;
	padding: 10px 14px;
	text-decoration: none; 
	font-size: 15px;
	font-weight: 400;
	float: left;
	color: white;
}
#block-menu_block-4 li a:hover{
	background: rgba(73, 72, 72, 0.14);
	background: -moz-linear-gradient(top, rgba(73, 72, 72, 0.14) 0%, #898888 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(73, 72, 72, 0.14)), color-stop(100%, #898888));
	background: -webkit-linear-gradient(top, rgba(73, 72, 72, 0.14) 0%, #898888 100%);
	background: -o-linear-gradient(top, rgba(73, 72, 72, 0.14) 0%, #898888 100%);
	background: -ms-linear-gradient(top, rgba(73, 72, 72, 0.14) 0%, #898888 100%);
	background: linear-gradient(to bottom, rgba(73, 72, 72, 0.14) 0%, #898888 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#24494848', endColorstr='#FF898888', GradientType=0);
}
#block-menu_block-4 li a.active,
#block-menu_block-4 li.active-trail a,
.faq #block-menu_block-4 li.h-ufige_fragen a,
.problembehebung #block-menu_block-4 li.problembehebung a,
.downloads #block-menu_block-4 li.downloads a,
.kontakt #block-menu_block-4 li.kontakt a,
.fernhilfe #block-menu_block-4 li.fernhilfe a{
	background: rgba(73, 72, 72, 0);
	background: -moz-linear-gradient(top, rgba(73, 72, 72, 0) 44%, #101010 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(44%, rgba(73, 72, 72, 0)), color-stop(100%, #101010));
	background: -webkit-linear-gradient(top, rgba(73, 72, 72, 0) 44%, #101010 100%);
	background: -o-linear-gradient(top, rgba(73, 72, 72, 0) 44%, #101010 100%);
	background: -ms-linear-gradient(top, rgba(73, 72, 72, 0) 44%, #101010 100%);
	background: linear-gradient(to bottom, rgba(73, 72, 72, 0) 44%, #101010 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00494848', endColorstr='#FF101010', GradientType=0);
}
#block-menu_block-4 li.home a{
   width: 42px;
   color: transparent;
   font-size: 0;
   line-height: 0;
   overflow: hidden;
}
#block-menu_block-4 li.home a:before{
   content: url("images/home.png");
   display: inline-block;
   font-size: 0;
   line-height: 0;
}
#block-menu_block-4 li.menu-mlid-1817{
	display: none;
}



/* ------- Sub-Nav ------- */

#block-menu_block-2{
box-shadow: inset #DBD8D2 0 7px 7px 0;
-webkit-box-shadow: inset #DBD8D2 0 7px 7px 0;
-moz-box-shadow: inset #DBD8D2 0 7px 7px 0;
}
#block-menu_block-2 ul{
box-shadow: inset #DBD8D2 0 0 0 1px;
-webkit-box-shadow: inset #DBD8D2 0 0 0 1px;
-moz-box-shadow: inset #DBD8D2 0 0 0 1px;
	padding:0;
}
#block-menu_block-2 li{
	/*min-height:42px;*/
	display:block;
	list-style:none !important;
	margin:0;
	padding:12px;
}
#block-menu_block-2 li.expanded{
border-top:1px solid #FFF;
border-bottom:1px solid #FFF;
box-shadow: inset #DBD8D2 0 0 0 1px;
-webkit-box-shadow: inset #DBD8D2 0 0 0 1px;
-moz-box-shadow: inset #DBD8D2 0 0 0 1px;
}
#block-menu_block-2 li.expanded li.leaf{
padding:0;
}
#block-menu_block-2 li.first.expanded{
border-top:0px solid #FFF;
}
#block-menu_block-2 li.last.expanded{
border-bottom:0px solid #FFF;
padding-bottom: 20px;
}
#block-menu_block-2 li.collapsed{
margin:10px 0;
padding:0 12px;
}
#block-menu_block-2 li.first.collapsed{
margin-top: 0;
padding-top: 12px;
}
#block-menu_block-2 li.last.collapsed{
padding-bottom: 20px;
margin-bottom: 0;
}
#block-menu_block-2 li a{
	/*min-height:29px;*/
	display:block;
	padding:5px 17px 5px 0;
	text-decoration:none;
	background-image:none !important;
}
#block-menu_block-2 li a:hover{
font-weight: 700;
}
#block-menu_block-2 li.active-trail,
#block-menu_block-2 li a.active {
color: #5A5A5A;
font-weight: 600;
}
#block-menu_block-2 li.active-trail ul a,
#block-menu_block-2 li.expanded ul a{
	min-height:0px;
	border-left:none;
}


/* subnav children --------------------- */
#block-menu_block-2 li ul{
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
	margin:0;
}
#block-menu_block-2 li.leaf{
	list-style-image:none !important;
}
#block-menu_block-2 li ul li{
	min-height:0;
	list-style-image:none !important;
	background:none !important;
	border:none;
	margin:0;
	padding:0;
}
#block-menu_block-2 li ul li a{
color: #0099CD;
font-weight: normal;
	background:none !important;
}
#block-menu_block-2 li ul li a.active{
color: #0099CD;
font-weight: 500;
}