
/** Font styles 
---------------------------------*/

body {
max-width: 1600px;
min-height:500px;
background-color: #292C2F;
color: #5A5A5A;
font-size: 13px;
line-height: 1.3;
}

* {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
border: 0;
margin: 0;
padding: 0;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* Links */

a {
color: #5A5A5A;
text-decoration: none;
}
a:hover, a:active {
color: #0099CD;
}

a.prom,
a.backlink,
a.toplink{
	font-weight:bold;
}
a.pagelink,
a.backlink,
a.toplink{
margin-bottom:7px;
padding-right: 10px;
color: #0099CD;
}
a.pagelink::after,
a.backlink::after,
a.toplink::after { 
margin-left: 7px;
margin-right: 0px;
content: "ã€‰";
}
a.videolink{
	color:#00a2ff;
	background:url(images/icon_video.png) 0 center no-repeat;
	padding-left:19px;
	margin-bottom:7px;
}

/* Titles  */

h1,h2,h3{
font-weight: normal;
display: block;
}
h1{
font-size:28px;
}
h2,h3{
font-size:24px;
}
.content h4{
	/*margin-top:25px;*/
}
h4, dt{
	font-size:15
}

h4, p, ul{
  margin-bottom:10px;
}
h5{font-size:1em;font-weight:bold;
	padding-top:12px;}


/* Paragraph Styles */

p {
  margin: 1em 0;
}


/* Other styles */

.highlight,
.search-results dd strong{
	/*font-weight:bold;color:#f5f49f;*/
	font-weight:bold;color:#f00;
}
strong{
	font-weight:bold;
}

.red{
	color:#f00 !important;
}
.marker, .form-required{
	color:#f5f49f;
}

small{
	font-size:9px;
}

hr{
	margin: 10px 0;
border:none;
/* Border */
box-shadow: #D2D2D2 0 -1px 0 0;
-webkit-box-shadow: #D2D2D2 0 -1px 0 0;
-moz-box-shadow: #D2D2D2 0 -1px 0 0;
border-top:1px solid #FFF;
}

dt{
	margin-bottom:7px;
}
dd{
	margin-bottom:20px;
}



/* List Styles  */
ul{
  margin-left: 0;
  padding-left: 2em;
}

/* Table Styles  */

table {
	width: 99%;
}
tbody{
	border-top:0px !important;
}
tr.even td, tr.odd td {
	padding: 10px 5px;
}
tr.odd{
	background-color:#BBB;
}
tr.even{
	background-color:#DDD;
}
td.active{
	background:none !important;
}

.node-inner table tbody{
	border:none;
}
.node-inner table tbody td{
	padding:2.5px 0;
}

/* Code */

pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}

pre {
	background-color: #efefef;
	display: block;
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #aaa;
}

/* List Styles */

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

/* Abbreviation */

abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments  */

#edit-title{
	font-size: 17px;
}
#system-themes-form img{
	width:100px;
}
.form-item .description{
	font-style:italic;
	line-height:1.2em;
	font-size:0.8em;
	margin-top:5px;
	color:#777;
}
#edit-delete{
	color:#c00;
}


/* Rollover edit links for blocks ----------------------------*/

div.block {
  position: relative;
}
/*
div.block div.edit {
  display: none;
  position: absolute;right: 0;top: 0;z-index: 40;
  border: 1px solid #eee;
  padding: 0 2px;
  font-size: 11px;
  background-color: #fff;
}
*/
div.block:hover div.edit {
  display: block !important;
}



.edit{
	display: none !important;
	position:absolute;top:-16px !important;right:5px !important;
}
#block-menu_block-4 .edit{
	left:5px !important;
}
.edit a{
  float: left;
  display: block !important;
  height: 16px;
  border-width: 0;
  font:bold 8px Arial, Helvetica, sans-serif;text-decoration: none;color: #fff !important;text-transform:uppercase;
  background: url(images/tabs/tab-left.png) no-repeat left -38px transparent !important;
  margin: 0;
  padding: 0 0 0 5px !important; /* width of tab-left.png */
}

.edit a span{
  display: block !important;
  height: 13px; /* 16px (parent) - 3px (padding) */
  color: #aaa !important;
  margin: 0;
  padding: 3px 8px 0 3px !important;
  border-width: 0 !important;
  line-height: 16px;
  background: url(images/tabs/tab-right.png) no-repeat right -38px transparent !important;
}
.edit a:hover,
.edit a:hover span{
	color: #fff !important;
}



/* custom module styles ------------------------ */

